@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: 'Poppins',arial;
overflow-x: hidden;
overflow-y: auto;
}

body{
padding:0px;
margin:0px;
background-color: #efefef;
}


.header{
	width:100%;
	background-color: #202020;
	height:fit-content;
	color: white;
	display:flex;
	padding:10px;
	align-items: center;
	position: relative;
	z-index:90;
}

.header h1{
	text-align:center;
	margin-left: 20px;
	padding-left:20px;
	border-left: 3px white solid;
}

.header h2{
	text-align:center;
	margin-left: 20px;
	pointer-event: auto;
	cursor:pointer;
}

.header span{
	font-size:30px;
	color: white;
	text-align:center;
}

.slideshow{
	background-color: black;
	width:100%;
	height:100%;
}

.overflay_slideshow{
width:100%;
height:100%;
position: absolute;
top:0px;
left:0px;
display:flex;
text-align:center;
justify-content: center;
align-items: center;
}

.searchbar{
	width:300px;
	padding:15px;
	background-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border:0px;
	color: black;
	text-decoration: none;
}

#searchlist{
	list-style-type: none;
	margin:0px;
	padding:0px;
	justify-content: center;
	align-items: center;
}

#searchlist li{
	width:90%;
	padding: 15px;
	background-color: #dfdfdf;
	border-top: 1px white solid;
	cursor: pointer;
	transition: 0.5s;
	
}

#searchlist li:hover{
	background-color: black;
	color: white;
}

.hamburger1{
	width:40px;
	height:10px;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	background-color: #202020;
	transform: rotate(0deg);
	transition: 0.5s;
}

.hamburger2{
	margin-top:10px;
	width:40px;
	position:relative;
	border-top: 2px white solid;
	background-color: #202020;
	transform: rotate(0deg) translateY(0px) translateX(0px);
	transition: 0.5s;
}

#testbtn:hover .hamburger1{
	border-bottom:0px white solid;
	transform: rotate(50deg) translate(10px,15px);
}

#testbtn:hover .hamburger2{
	transform: rotate(135deg) translate(0px,12px);
}

#testbtn{
	cursor: pointer;
}

#sidebar{
	width:40%;
	height:100%;
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	background-color: black;
	animation: openSideBar 1s ease-in-out;
}

#sidebar .sidehead{
display: flex;
color: white;
align-items: center;
}


#sidebar .sidehead h1{
margin-left: 20px;
}


#sidebar .sidehead i{
margin-left: 20px;
cursor: pointer;
}

#sidebar ul{
padding: 0px;
margin: 0px;
}

#sidebar ul li{
list-style-type: none;
color: white;
align-items: center;
cursor: pointer;
margin:0px;
align-text: center;
display:flex;
padding:10px;
transition: 0.5s;
}

#sidebar ul li:hover{
	background-color: white;
	color: black;
}

#sidebar ul li span{
	margin-right:10px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item:before{
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item div{
	text-align: center;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: 0.5s;
}

.grid-item div:hover{
	box-shadow: 3px 5px 5px rgba(0,0,0,0.8);
}


.grid-item div label{
	font-size: 15px
}

.grid-item div h3{
	margin:0px;
	font-size: 17px;
	color: #009900;
}

.grid-item div p{
	font-size: 15px;
	color: #303030;
	margin-left: 20px;
}

.filterbar{
width:100%;
display:grid;
grid-template-columns: auto auto auto auto;
padding: 15px;
background-color: white;
box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
align-items: center;
}

span{
	overflow-y: hidden;
}

.filterbar div{
	text-align: center;
	align-items: center;
	cursor: pointer;
}

h5{
	font-size: 13px;
	margin:0px;
	padding:0px;
	color: gray;
}

.productdet{
	width:100%;
}

.pricetag{
	color: #009900;
}

.productdet img{
	width:80%;
	height:450px;
}

.productdet h2{
	color: black;
}

.productdet span{
	color: #009900;
}

.productdet p{
	color: #bfbfbf !important;
	font-size: 15px;
}

p ul li{
	color: #dfdfdf;
	font-size: 12px;
}

.two-side{
	padding:10px;
	display:flex;
	width:96%;
}

.side{
	width:50%;
	height: fit-content;
}

.btn-green{
	background-color: #009900;
	color: white;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	margin-left:20px;
	transition: 0.5s;
}

.btn-green:hover{
	background-color: black;
	color: white;
}

.btn-red{
	background-color: #993355;
	color: white;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	margin-left:20px;
	transition: 0.5s;
}

.btn-red:hover{
	background-color: black;
	color: white;
}

.card{
	padding:10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 3px 5px 5px rgba(0,0,0, 0.3);
	margin-top: 10px;
}

.formflex{
	width: 60%;
	display: grid;
	grid-template-columns: auto auto;
	margin-top:30px;
	margin-bottom:20px;
}

.formflex input,select{
	width:70%;	
	padding: 10px;
	background-color: #efefef;
	border: 0px;
	border-radius: 10px;
}

.cartitem{
	display: grid;
	grid-template-columns: auto auto;
	width:95%;
	margin: 10px;
	background-color: white;
	box-shadow: 3px 5px 5px rgba(0,0,0, 0.3);
	border-radius: 5px;
}

.cartitem img{
	width:70px;
	height:70px;
	margin-right:20px;
}

.cartitem h3{
	text-align: end; margin-right:10px;
}

.cart-container{
	background-color: #dfdfdf;
	height:90%;
	margin-right:30px;
}

@keyframes openSideBar{
	from{
		transform: translateX(-100%);
	}
	to{
		transform: translateX(0%);
	}
}

@keyframes closeSideBar{
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(-100%);
	}
}

@keyframes itemApeal{
	from{
		transform: translateY(10px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes itemApealLeft{
	from{
		transform: translateX(-100%);
	}
	to{
		transform: translateX(0%);
	}
}

@keyframes itemApealRight{
	from{
		transform: translateX(100%);
	}
	to{
		transform: translateX(0%);
	}
}